
.login{
    background: rgb(236, 236, 236);
    height: 100vh;
    width: 100%;
}
.login .logo h1{
    font-size:4rem;
    font-weight:700;
}
.login .logo p{
    font-size: 1.8rem;
}

.log .box input{
    border: 1px solid rgb(214, 214, 214);
    font-size: 1.2rem;
}
.log .box .log_btn{
    font-size: 1.4rem;
    font-weight: 600;
}
.log .new_btn{
    background: rgb(3, 185, 3);
    margin-left: 28%;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.modal small{
    font-size: .75rem;
    letter-spacing: .5px;
}
.modal .sign_btn{
    background:  rgb(3, 185, 3);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2px 60px;
    margin: auto;
}
.modal .modal-body form .person input{
    background: rgb(238, 238, 238);
}