.home{
    background-image: url(home.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .home_box h1{
    text-align: right;
    padding: 14rem;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'poppins';
  }
  .pick{
    margin-left: 58%;
    margin-top: -30%;
  }
