body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.User .card{
  border-radius: 20px;
}
.User .card:hover{
  transform: scale(.95);
  transition: .5s;
}
.logo{
  width: 4rem;
  /* height: 20px; */
}
.logo:hover{
  transform: scale(1.2);
  transition: .1s;
}
.nav-link:hover{transform: scale(1.2);
  transition: .1s;
}
